/* Application wide styles */

.text {
}

.RuleGraph {
    -moxy-radius: 5px;
}

.RuleGraph:hover {
    -moxy-radius: 5px;
}


.RuleGraph .in, .RuleGraph .out{
	-fx-fill: transparent;
    -fx-stroke: black;
}

.rule {
    -moxy-gap: 10px;
}

.rule:hover {
    -moxy-gap: 10px;
}
.rule:hover .path{
    -fx-stroke: red;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
	-fx-label-padding: 5px 12px 5px 12px;
    -fx-text-fill: #333333;
    -fx-underline: false;
    -fx-effect: dropshadow( gaussian , rgba(200,200,200,0.5) , 0,0,1,1 );
}
.label:hover {
    -fx-text-fill: #FF3333;
}

.outline {
	-fx-arc-width: 10px;
	-fx-arc-height: 10px;
	-fx-fill: transparent;
    -fx-stroke: #BBBBCC;
}

.box {
    
	-fx-fill: transparent;
}

.TextRule .textbox .box, .CharacterRule .textbox .box, .CharacterRangeRule .textbox .box {
	-fx-arc-width: 15px;
	-fx-arc-height: 15px;
	-fx-fill: #BBFFCC;
    -fx-stroke: #339966;
}

.TextRule:hover .textbox .box, .CharacterRule:hover .textbox .box, .CharacterRangeRule:hover .textbox .box {
	-fx-fill: #339966;
    -fx-stroke: #BBFFCC;
}

.TextRule:hover .textbox .text, .CharacterRule:hover .textbox .text, .CharacterRangeRule:hover .textbox .text {
	-fx-fill: #BBFFCC;
}


.TextRule .textbox .text, .CharacterRule .textbox .text, .CharacterRangeRule .textbox .text {
	-fx-fill: #339966;
}


.SymbolNode .textbox .box {
	-fx-arc-width: 0px;
	-fx-arc-height: 0px;
	-fx-fill: #FFE0C0;
    -fx-stroke: #665500;
}

.SymbolNode:hover .textbox .box {
	-fx-fill: #665500;
    -fx-stroke: #FFE0C0;
}

.SymbolNode .textbox .text {
	-fx-fill: #665500;
}

.SymbolNode:hover .textbox .text {
	-fx-fill: #FFE0C0;
}

.textbox .box {
	-fx-arc-width: 0px;
	-fx-arc-height: 0px;
	-fx-fill: #FFE0C0;
    -fx-stroke: #665500;
}

.textbox:hover .box {
	-fx-fill: #665500;
    -fx-stroke: #FFE0C0;
}

.textbox .text {
	-fx-fill: #665500;
}

.textbox:hover .text {
	-fx-fill: #FFE0C0;
}


.info .box {
	-fx-arc-width: 10px;
	-fx-arc-height: 10px;
	-fx-fill: #CCCCDD;
    -fx-stroke: #BBBBCC;
}

.info:hover .box {
	-fx-fill: #BBBBCC;
    -fx-stroke: #BBBBCC;
}

.info  .text {
	-fx-fill: #000033;
}

.info:hover .text {
	-fx-fill: #111133;
}




